body {
    text-align: center;
    font-family: 'Palanquin Dark', sans-serif;
    background-color: #F8FCDA;
}

.hidden {
    display: none;
}

.main-title {
    font-size: 7em;
    color: #7C6354;
}

.subtitle {
    font-size: 4em;
    color: rgb(77, 77, 77);
}

button {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 2em;
    border-width: 6px;
    border-radius: 8px;
    background-color: white;
}